body {
  background-color: black;
}

.blue-background {
  background-color: rgb(36, 91, 167);
  color: white;
}

.red-background {
  background-color: rgb(228, 2, 55);
  color: white;
}

/*
content-block {
  padding: 20px 20px 20px;
  
  @media (min-width: 768px) {
    padding: 10px 10px 10px;
  }
}
*/

